.date-picker-wrapper {
    background-color: #ffffff;
  }
  
  .react-datepicker__time-list {
    color: #000000;
  }
  
  .react-datepicker__time-list-item:hover {
    background-color: #f0f0f0;
  }
  